<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Presty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/mediaelementplayer.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/modulos/http_d3js.org_d3.v3.js"></script>
    <script src="js/modulos/http_d3js.org_topojson.v1.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <!-- script para upload de imagenes -->
    <script>
      FileAPI = {
        jsPath: 'js/FileAPI.min.js/',
        staticPath: 'js/FileAPI.flash.swf/',
      }
    </script>

    <!-- angular-upload   -->
    <script src="js/modulos/ng-file-upload-shim.js"></script> <!--no html5 support Prueba de commit-->
    <script src="js/modulos/ng-file-upload.js"></script>

  </head>

  <body ng-app ='Presty'
        ng-controller='indexCtrl'>

  <div class="site-wrap">

    <div class="site-navbar mt-4">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-8 col-md-8 col-lg-4">
              <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0"><strong class="text-uppercase">Presty<span class="text-primary">.</span></strong></a></h1>
            </div>
            <div class="col-4 col-md-4 col-lg-8">
              <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#!/" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul ng-show="no_user" class="site-menu js-clone-nav d-none d-lg-block">
                  <li> <a href="#!/">Home</a></li>
                  <li> <a href="#!/Login">Login</a></li>
                  <li> <a href="#!/Registro">Registro</a></li>
                </ul>
                <ul ng-show="!no_user" class="site-menu js-clone-nav d-none d-lg-block">
                  <li><a href="#!/Panel">Panel</a></li>
                  <li><a ng-click="logout()">Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!--------  MAIN  --------->
  <main>
    <div ng-view>

    </div>
  </main>


  <!--Modulos angular-->
  <script src="js/modulos/mobile-angular-ui.min.js"></script>
  <script src="js/modulos/mobile-angular-ui.gestures.min.js"></script>
  <script src="js/modulos/angular-route.js"></script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/mediaelement-and-player.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>
  <!-- <script src="js/circleaudioplayer.js"></script> -->

  <script src="js/main.js"></script>

  <script src="js/funciones/funciones-globales.js"></script>
  <script src="js/funciones/validaciones.js"></script>

  <!--Modulos-->
  <script src="js/modulos/modulos.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
  <!--Rutas-->
  <script src="js/rutas.js"></script>

  <!-- stats -->
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

  <!-------- CONTROLLERS --------->

  <script src="js/controllers/controller-index.js"></script>
  <script src="js/controllers/controller-home.js"></script>
  <script src="js/controllers/controller-login.js"></script>
  <script src="js/controllers/controller-registro.js"></script>
  <script src="js/controllers/controller-panel.js"></script>
  <script src="js/controllers/controller-publicidad.js"></script>

  </body>
</html>
