

<div class="site-blocks-cover overlay" style="background-image: url('images/panel.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="400">
                <h1 class="mb-4">Panel de control</h1>
                <button type="button" ng-click="editar_user(ID)" class="btn btn-light">Editar datos</button>
            </div>
        </div>
    </div>
</div>

<div class="site-section" ng-show="usuario.USER_TYPE=='Cliente'">
    <div class="container">
        <div class="mb-5">
            <h3 class="footer-heading mb-4">{{ estado }}</h3>
            <p>{{ mensaje }}</p>
            <form ng-submit="pedir_prestamo(prestamo)" method="post" class="site-block-subscribe" ng-show="mostrar_form" ng-show="!en_proceso">
                <div class="input-group mb-3">
                    <input  ng-model="prestamo.AMOUNT"  type="number" name="monto" id="monto" class="form-control border-secondary bg-transparent" placeholder="$ - Monto"
                           aria-label="$ - Monto" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary rounded-top-right-0" type="submit" id="button-addon2">Enviar solicitud</button>
                    </div>
                </div>
            </form>
            <table class="table" ng-show="listado_financieras.length>0">
                <thead>
                <tr>
                    <th scope="col">COMPAÑÍA</th>
                    <th scope="col">ACEPTAR</th>
                    <th scope="col">DENEGAR</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="financiera in listado_financieras track by $index">
                    <td id="{{ financiera.ID }}">{{ financiera.COMPANY }}</td>
                    <td scope="row"><button type="button" ng-click="aceptar(financiera.ID)" class="btn btn-success">Aceptar</button></td>
                    <td scope="row"><button type="button" ng-click="denegar(financiera.ID)" class="btn btn-danger">Denegar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="site-section" ng-show="usuario.USER_TYPE=='Administrador'">
    <div class="container">
        <div class="mb-5">
            <h2>Administrador:</h2><p>{{ usuario.EMAIL }}</p>
        </div>

        <hr>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: center;color:grey;">Tipos de usuario</h3>
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                <p style="text-align: center">Cantidad total: {{ usuarios_stats.length }} <br><span>Activos: {{ no_borrados }} || Eliminados: {{ borrados }} </span></p>

            </div>
                <div class="col-6">
                    <h3 style="text-align: center;color:grey;">Estado de prestamos</h3>
                    <canvas id="polar-area" class="chart chart-polar-area"
                            chart-data="data_dos" chart-labels="labels_dos" chart-options="options">
                    </canvas>
                    <p style="text-align: center">Cantidad total: {{ prestamos_stats.length }}</p>
                </div>
            </div>
        <hr>
        <div>
            <input style="margin-bottom: 2em;padding:1em;"  type="submit" class="btn btn-primary" value="Crear Publicidad" ng-click="publicidad()">
            <p>Solo se mostrarán hasta 5 publicidades en la home.</p>
            <table class="table" ng-show="publicidades.length>0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">LINK</th>
                    <th scope="col">IMG</th>
                    <th scope="col">EDITAR</th>
                    <th scope="col">MOSTRAR</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="una_publi in publicidades track by $index">
                    <td id="{{ una_publi.ID }}">{{ una_publi.ID }}</td>
                    <td>{{ una_publi.NAME }}</td>
                    <td>{{ una_publi.LINK }}</td>
                    <td><img style="width: 18vw; height: 3em;" ng-src="{{ una_publi.IMG }}" alt="{{ una_publi.NAME }}"/></td>
                    <td scope="row"><button type="button" ng-click="editar_publicidad(una_publi)" class="btn btn-success">Editar</button></td>
                    <td scope="row">
                        <label class="switch">
                            <input type="checkbox" ng-click="borrar()" ng-checked="una_publi.checked">
                            <span class="slider_switch round"></span>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="site-section" ng-show="usuario.USER_TYPE=='Financiera'">
    <div class="container">
        <div class="mb-5">
            <h3 class="footer-heading mb-4">Listado de usuarios solicitadores de presamos</h3>
            <p ng-show="pedidos_cliente.length==0">No hay solicitudes de prestamo.</p>
            <table class="table" ng-show="pedidos_cliente.length>0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">DNI</th>
                    <th scope="col">FECHA DE CREACION</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">OFERTAR</th>
                    <th scope="col">DENEGAR</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido_cliente in pedidos_cliente track by $index">
                    <th scope="row" id="{{ pedido_cliente.ID }}">{{ pedido_cliente.ID }}</th>
                    <td>{{ pedido_cliente.NAME }}</td>
                    <td>{{ pedido_cliente.LAST_NAME }}</td>
                    <td>{{ pedido_cliente.DNI }}</td>
                    <td>{{ pedido_cliente.CREATED_DATE }}</td>
                    <th scope="row">${{ pedido_cliente.AMOUNT }}</th>
                    <td scope="row"><button type="button" ng-click="ofertar(pedido_cliente.ID)" class="btn btn-success">Ofertar</button></td>
                    <td scope="row"><button type="button" ng-click="denegar(pedido_cliente.ID)" class="btn btn-danger">Denegar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-5">
            <h3 class="footer-heading mb-4">Listado de usuarios con acuerdo de prestamos concretados</h3>
            <p ng-show="pedidos_concretados.length==0">No hay prestamos concretados.</p>
            <table class="table" ng-show="pedidos_concretados.length>0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">DNI</th>
                    <th scope="col">FECHA DE CREACION</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">MONTO</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido in pedidos_concretados track by $index">
                    <th scope="row" id="{{ pedido.ID }}">{{ pedido.ID }}</th>
                    <td>{{ pedido.NAME }}</td>
                    <td>{{ pedido.LAST_NAME }}</td>
                    <td>{{ pedido.DNI }}</td>
                    <td>{{ pedido.PHONE }}</td>
                    <td>{{ pedido.EMAIL }}</td>
                    <td>{{ pedido.CREATED_DATE }}</td>
                    <th scope="row">${{ pedido.AMOUNT }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="site-section" ng-show="usuario.USER_TYPE=='Autorizador'">
    <div class="container">
        <div class="mb-5">
            <h3 class="footer-heading mb-4">Listado de pedidos de prestamo</h3>
            <p ng-show="pedidos.length==0">Aún no se te han asignado prestamos para evaluar.</p>
            <table class="table" ng-show="pedidos.length>0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">DNI</th>
                    <th scope="col">FECHA DE NACIMIENTO</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">FECHA DE CREACION</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">PROCESAR SOLICITUD</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido in pedidos track by $index">
                        <th scope="row" id="{{ pedido.ID }}">{{ pedido.ID }}</th>
                        <td>{{ pedido.NAME }}</td>
                        <td>{{ pedido.LAST_NAME }}</td>
                        <td>{{ pedido.DNI }}</td>
                        <td>{{ pedido.BIRTH_DAY }}</td>
                        <td>{{ pedido.PHONE }}</td>
                        <td>{{ pedido.CREATED_DATE }}</td>
                        <th scope="row">${{ pedido.AMOUNT }}</th>
                        <td scope="row"><button type="button" id="{{ pedido.FK_CLIENT }}" ng-click="procesar_data(pedido)" class="btn btn-info">Procesar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
